body {
    background-image: url(../astronomia-bootstrap/midias/img1.jpg);
}

.scrollspyhome{
    position: relative;
    overflow: auto;
    height: 300px;
}

.card-rodape-empresa{
    font-size: 0.7rem;
}

.fa-color-blue {
    color: rgb(53, 108, 209);
}